.App {
  text-align: center;
  background-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
body {
  background-image: url("./1670679560_elmina-club-p-oboi-tokiiskogo-gulya-vkontakte-25.jpg");
  background-color: transparent;
}
nav {
  display: flex;
  gap: 10px;
  font-size:larger;
  justify-content: center;
  
}
.m {
  background-color: transparent;
}
td {
  padding-right: 20ch;
  padding-left: 20ch;
  text-align: center;
  color: white;   
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}


nav a {
  font-size:30px;

  text-decoration: none;
  color: #333; /* цвет текста ссылки */
}
